
body{
  background-color: lightblue;
  font-family: 'Montserrat', sans-serif;
  display: grid;
  place-items: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.header{
  font-family: cursive;
  font-size: 200px;
}
.image{
  height: 230px;
  width: 310px;
  margin-bottom: 50px;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto
}

.header{

  font-size: 30px;
  text-align: center;

}

.inputBox{

  margin: 0;
  position: absolute;
  top: 100px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  outline-style: none ;
  border: 1px solid pink; 
  border-radius: 5px;
}

.enter{
  font-family: cursive;
}
.startButton{

  margin: 0;
  position: absolute;
  top: 200px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%) 
}

.start{
  font-weight: 600;
  border: solid 2px black;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-family:cursive;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
}

.start::after{
  border: 0;
  box-shadow: 0px 0px 0px 2px black;
  top: 0.5rem;
  left: 0.5rem;

}

.start:hover{
  background-color: pink;
  border: 0;
}

.start:hover::after {
  background-color: black;
  box-shadow: none;
}

.question-text{

  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family:cursive;
  font-size: 30px;

}

.Answer-Part{

  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

button::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: pink;
  z-index: -1;
  border-radius: 0.35rem;
  border: solid 2px black;
  transition: all 0.3s ease-in-out;
}


.Answer-Button{
  font-weight: 600;
  border: solid 2px black;
  outline: 0;
  padding: 1rem 4rem;
  font-size: 1.5rem;
  font-family:cursive;
  letter-spacing: 0.08rem;
  background-color: white;
  border-radius: 0.35rem;
  position: relative;
  cursor: pointer;
}
.Answer-Button::after{
  border: 0;
  box-shadow: 0px 0px 0px 2px black;
  top: 0.5rem;
  left: 0.5rem;

}

.Answer-Button:hover{
  background-color: pink;
  border: 0;
}

.Answer-Button:hover::after {
  background-color: black;
  box-shadow: none;
}

.Question-Count{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;
  font-family:cursive;
}

.currentScore{
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: x-large;
  font-family:cursive;
}

.showCurrent{
  font-family: cursive;
}

.userBest{
  font-family: cursive;
}

.showBest{
  font-family: cursive;
}

.Players{
  font-family: cursive;
}

.information{
  font-family: cursive;
}


